.btn 
    position: relative
    box-sizing: border-box
    display: inline-block
    vertical-align: top
    margin: 0 50px
    padding: 10px 0
    height: 50px
    text-align: center
    font-family: $font
    font-weight: 500
    font-size: 20px
    line-height: 30px
    color: $green
    background-color: #fff
    outline: none 
    transition: color 0.3s ease, background-color 0.3s ease
    cursor: pointer

    @media (max-width: 800px)
        margin: 0 70px
        padding: 25px 0
        height: 80px
        font-size: 32px

    @media (max-width: 639px)
        margin: 0 40px
        padding: 10px 0
        height: 40px
        font-size: 16px
        line-height: 20px

    &:before 
        content: ""
        position: absolute
        top: -50px
        left: -49px
        width: 0
        height: 0
        border: 50px solid $transparent
        border-bottom: 50px solid #fff 
        border-radius: 50%
        transform: rotate(45deg)
        transition: border-color 0.3s ease

        @media (max-width: 800px)
            top: -80px
            left: -79px
            border-width: 80px

        @media (max-width: 639px)
            top: -40px
            left: -39px
            border-width: 40px

    &:after 
        content: ""
        position: absolute
        bottom: -50px
        right: -49px
        width: 0
        height: 0
        border: 50px solid $transparent
        border-top: 50px solid #fff 
        border-radius: 50%
        transform: rotate(45deg)
        transition: border-color 0.3s ease

        @media (max-width: 800px)
            bottom: -80px
            right: -79px
            border-width: 80px

        @media (max-width: 639px)
            bottom: -40px
            right: -39px
            border-width: 40px

    &:hover 
        color: #fff
        background-color: #0C8EED

        &:before
            border-bottom: 50px solid #0C8EED

            @media (max-width: 800px)
                border-width: 80px

            @media (max-width: 639px)
                border-width: 40px

        &:after
            border-top: 50px solid #0C8EED

            @media (max-width: 800px)
                border-width: 80px

            @media (max-width: 639px)
                border-width: 40px
