.intro

    &__col 
        color: #fff
        background-color: $green
        min-height: 556px

        @media (max-width: 900px)
            flex-grow: 1

        @media (max-width: 800px)
            min-height: 265px 

            &:first-child 
                order: 2 

                @media (max-width: 639px)
                    flex-grow: 1

            &:last-child 
                order: 1

        @media (max-width: 639px)
            min-height: 132px


        &._image 
            background-color: #efefef
            background-image: url("../images/bg-intro.jpg")
            background-repeat: no-repeat 
            background-size: cover

            @media (max-width: 800px)
                background-position: left center

    &__title 
        margin: 0 0 33px 0
        max-width: 525px
        font-weight: 300
        font-size: 48px
        line-height: 54px

        @media (max-width: 1023px)
            font-size: 45px
            line-height: 47px

        @media (max-width: 800px)
            margin-bottom: 27px
            padding-top: 38px
            max-width: 480px
            font-size: 42px
            line-height: 48px

        @media (max-width: 639px)
            padding-top: 19px
            margin-bottom: 15px
            font-size: 22px
            line-height: 24px

        .emph 
            font-weight: 500

    &__lead 
        margin: 0 0 34px 0
        max-width: 460px
        min-height: 168px
        font-weight: 300
        font-size: 24px
        line-height: 28px

        @media (max-width: 1023px)
            font-size: 22px
            line-height: 26px

        @media (max-width: 800px)
            margin-bottom: 41px
            max-width: 505px
            min-height: 128px
            font-size: 26px
            line-height: 32px

            br 
                display: none

        @media (max-width: 639px)
            margin-bottom: 30px
            max-width: 300px 
            min-height: 50px 
            font-size: 14px
            line-height: 16px

        .emph
            display: block
            font-weight: 500

            @media (max-width: 800px)
                display: inline

    &__scroll-link 
        position: absolute
        right: 617px
        transform: translateX(100%)
        @include hover
        bottom: 16px
        padding: 0 28px
        font-weight: 500
        font-size: 16px
        line-height: 19px
        color: #fff
        white-space: nowrap

        @media (max-width: 1399px)
            transform: none 
            right: auto 
            left: 40px

        @media (max-width: 800px)
            bottom: 15px
            padding: 0 25px
            font-size: 14px
            line-height: 18px
            white-space: nowrap

        @media (max-width: 639px)
            left: 50%
            transform: translateX(-50%)

    &__link-arrow
        position: absolute
        top: -4px
        width: 16px
        height: 16px

        &._left
            left: 0

        &._right
            right: 0

.arrow
    opacity: 0
    position: absolute
    left: 50%
    top: 50%
    transform-origin: 50% 50%
    transform: translate3d(-50%, -50%, 0)

.arrow-first
    animation: arrow-movement 2s ease-in-out infinite

.arrow-second
    animation: arrow-movement 2s 1s ease-in-out infinite

.arrow
    display: block

    &:before, &:after
        background: #fff
        content: ''
        display: block
        height: 1px
        position: absolute
        top: 0
        left: 0
        width: 8px
    &:before
        transform: rotate(45deg) translateX(-23%)
        transform-origin: top left
    &:after
        transform: rotate(-45deg) translateX(23%)
        transform-origin: top right

@keyframes arrow-movement
    0%
        opacity: 0
        top: 90%

    70%
        opacity: 1

    100%
        opacity: 0

.active

    .intro

        .intro__title,
        .intro__lead,
        .intro__link 
            animation-delay: 0.5s 

        .intro__lead
