.main-navigation
    margin-left: auto

    @media (max-width: 800px)
        order: 4

    ul 
        @include list-reset
        @include row-component
        justify-content: flex-end
        font-weight: 300
        font-size: 16px
        line-height: 16px

        @media (max-width: 1023px)
            flex-direction: column
            padding-top: 50px
            padding-bottom: 50px
            font-size: 32px
            line-height: 43px

        @media (max-width: 639px)
            padding-top: 25px
            padding-bottom: 25px
            font-size: 18px
            line-height: 22px

        a 
            color: $blue 
            white-space: nowrap
            border-bottom: 1px dotted $blue

            @media (max-width: 1023px)
                color: #fff
                border-bottom: none

    li
        @include hover
        margin-left: 35px

        @media (max-width: 1399px)
            margin-left: 25px

        @media (max-width: 1023px)
            position: relative
            box-sizing: border-box
            margin-left: 0
            padding-top: 28px
            padding-bottom: 22px
            width: 100%
            text-align: center

            &:after 
                content: ""
                position: absolute
                bottom: 0
                left: 60px
                right: 60px
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)

        @media (max-width: 639px)

            &:after 
                left: 20px
                right: 20px

        &:last-child

            @media (max-width: 1023px)

                &:after 
                    display: none

        &:nth-last-child(2),
        &:last-child 

            a
                border-bottom: 1px solid $blue

                @media (max-width: 1023px)
                    border-bottom: none

        &.active 
            opacity: 0.7


.menu-wrapper

    @media (max-width: 1023px)
        position: absolute
        top: 0
        left: 0
        right: 0
        transform: translate(100%)
        display: flex
        flex-direction: column 
        justify-content: flex-start
        align-items: center
        box-sizing: border-box
        height: 100%
        background-color: $green
        overflow: hidden

        &.opened
            transition: transform 0.3s ease
            transform: translate(0)

.menu-scrollable

    .mCustomScrollBox
        width: 100%