.mechanics

    &__wrapper 
        position: relative
        display: flex 
        flex-direction: column
        justify-content: center
        width: 100%

        @media (max-width: 900px)
            padding-bottom: 40px

        @media (max-width: 800px)
            padding-top: 66px
            padding-bottom: 82px

        @media (max-width: 639px)
            padding-top: 33px
            padding-bottom: 41px    

.mechanics-list
    @include list-reset 
    display: flex
    width: 100%

    li
        position: relative
        display: flex 
        flex-direction: column
        align-items: center
        width: 33.333333%
        min-width: 33.333333%
        text-align: center

        &:after 
            content: ""
            position: absolute
            top: 50px
            right: -16px
            width: 32px
            height: 30px
            background-image: url("../images/svg/arrow.svg")
            background-repeat: no-repeat 
            background-size: contain

            @media (max-width: 900px)
                display: none

        &:last-child

            &:after 
                display: none

    &__image
        display: flex 
        flex-direction: column 
        justify-content: center 
        align-items: center
        margin-bottom: 52px
        min-height: 130px

        @media (max-width: 800px)
            margin-bottom: 35px

        @media (max-width: 639px)
            margin-bottom: 15px
            max-width: 140px
            min-height: 100px

            svg
                display: block
                max-width: 100% 

    &__title 
        margin: 0 0 13px 0
        font-weight: 500
        font-size: 20px
        line-height: 28px
        color: $green

        @media (max-width: 1023px)
            padding: 0 40px

        @media (max-width: 800px)
            margin-bottom: 10px
            font-size: 42px
            line-height: 52px

        @media (max-width: 639px)
            font-size: 22px
            line-height: 26px

    &__text 
        margin: 0
        max-width: 303px
        min-height: 120px 
        font-weight: 300
        font-size: 16px
        line-height: 24px

        @media (max-width: 1023px)
            padding: 0 20px

            br 
                display: none

        @media (max-width: 800px)
            max-width: 475px
            font-size: 26px
            line-height: 32px

        @media (max-width: 639px)
            max-width: 230px
            font-size: 14px
            line-height: 18px

.active 

    .mechanics

        .mechanics-list li 

            &:first-child .mechanics-list__image
                animation-delay: 0.5s

            &:nth-child(2) .mechanics-list__image
                animation-delay: 0.8s 

            &:nth-child(3) .mechanics-list__image
                animation-delay: 1.1s 

.swiper-button-prev,
.swiper-button-next
    opacity: 0

    @media (max-width: 900px)
        top: 40px
        margin: 0
        width: 49px
        height: 49px
        background-image: url("../images/svg/arrow.svg")
        background-size: contain
        opacity: 1

    @media (max-width: 800px)
        top: 103px

    @media (max-width: 639px)
        top: 75px
        width: 25px
        height: 25px

.swiper-button-prev

    @media (max-width: 800px)
        left: 40px

    @media (max-width: 639px)
        left: 19px

.swiper-button-next

    @media (max-width: 800px)
        right: 40px

    @media (max-width: 639px)
        right: 19px

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet

    @media (max-width: 900px)
        margin: 0 8px 
        width: 16px
        height: 16px
        background-color: #fff
        border: 4px solid $green
        opacity: 1

        &.swiper-pagination-bullet-active
            background-color: $green

    @media (max-width: 639px)
        margin: 0 4px 
        width: 8px
        height: 8px
        border-width: 2px
