.menu-trigger
    @include btn-reset
    position: absolute
    right: 38px
    top: 13px
    width: 48px
    height: 37px
    font-size: 0
    display: none

    @media (max-width: 800px)
        order: 3
        top: 19px

    @media (max-width: 639px)
        top: 10px
        right: 19px
        width: 24px
        height: 19px

    &.active 

        span 
            background-color: $transparent

            &:before 
                top: 0
                transform: rotate(45deg)

            &:after 
                top: 0
                bottom: auto
                transform: rotate(-45deg)

    span 
        @include centerV
        left: 0
        width: 100%
        height: 9px
        background-color: $green 
        border-radius: 5px

        @media (max-width: 639px)
            height: 4px
            border-radius: 2px

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 9px
            background-color: $green 
            border-radius: 5px
            transition: transform 0.3s ease

            @media (max-width: 639px)
                height: 4px
                border-radius: 2px

        &:before
            top: -14px

            @media (max-width: 639px)
                top: -8px

        &:after 
            bottom: -14px

            @media (max-width: 639px)
                bottom: -8px

    @media (max-width: 1023px)
        display: block