.mobile-link
    @include hover
    display: none
    margin-left: auto
    margin-top: auto
    margin-right: auto
    margin-bottom: 60px
    font-weight: 300
    font-size: 26px
    line-height: 24px
    color: $blue

    @media (max-width: 639px)
        margin-bottom: 30px
        font-size: 14px
        line-height: 12px

    span 
        border-bottom: 1px solid $blue

    @media (max-width: 800px)
        display: block