.prizes

    &__wrapper 
        flex-direction: column
        justify-content: center

    &__inner
        width: 100%

    &__title 
        flex: 0.3
        margin: 0 0 -13px 0
        text-align: center
        font-weight: 500
        font-size: 30px
        line-height: 40px
        color: $green

        @media (max-width: 900px)
            margin-bottom: 20px

        @media (max-width: 800px)
            margin-bottom: 35px
            padding-top: 32px
            font-size: 42px
            line-height: 50px

            .desktop 
                display: none

        @media (max-width: 639px)
            margin-bottom: 20px
            padding-top: 20px
            font-size: 22px
            line-height: 26px

.prizes-list
    @include list-reset
    display: flex
    width: 100%

    @media (max-width: 800px)
        flex-direction: column

    li  
        display: flex 
        flex-direction: column 
        align-items: center
        width: 50%
        min-width: 50%
        text-align: center

        @media (max-width: 1023px)
            box-sizing: border-box
            padding: 0 30px

        @media (max-width: 800px)
            flex-direction: row
            align-items: flex-start
            margin-bottom: 36px
            padding-right: 0
            padding-left: 0
            width: 100%
            min-width: 100% 

        @media (max-width: 639px)
            margin-bottom: 20px

    &__image 
        display: flex 
        flex-direction: column 
        justify-content: flex-end 
        margin-bottom: 18px
        min-height: 247px

        @media (max-width: 800px)
            display: block
            width: 186px
            min-height: 10px

        @media (max-width: 639px)
            width: 100px

        img     
            display: block

            @media (max-width: 800px)
                margin-left: auto
                margin-right: auto
                width: auto
                height: auto
                max-width: 186px
                max-height: 185px

            @media (max-width: 639px)
                max-width: 100px
                max-height: 100px

    &__text-block 

        @media (max-width: 800px)
            margin-left: auto
            width: 61.27%
            min-width: 61.27%
            text-align: left

    &__text 
        margin: 0 0 4px 0
        font-weight: 300
        font-size: 16px
        line-height: 24px

        @media (max-width: 1399px)
            padding: 0 20px

        @media (max-width: 800px)
            margin-bottom: 7px
            padding-left: 0
            font-size: 26px
            line-height: 32px

        @media (max-width: 639px)
            font-size: 14px
            line-height: 16px

    &__prize 
        margin: 0
        font-weight: 500
        font-size: 36px
        line-height: 40px
        color: $green

        @media (max-width: 800px)
            font-size: 42px
            line-height: 44px

        @media (max-width: 639px)
            font-size: 22px
            line-height: 24px

    &__note 
        margin: 0
        font-weight: 500
        font-size: 20px
        line-height: 24px
        color: $green

        @media (max-width: 800px)
            font-size: 26px
            line-height: 34px

        @media (max-width: 639px)
            font-size: 14px
            line-height: 16px

.active

    .prizes

        .prizes__title
            animation-delay: 0.5s

        .prizes-list

            li

                &:first-child
                    .prizes-list__image
                        animation-delay: 0.5s

                &:last-child
                    .prizes-list__image
                        animation-delay: 0.8s