.screen 
    position: relative
    display: flex 
    flex-direction: column
    height: 100%

    &__wrapper 
        display: flex 
        box-sizing: border-box
        padding-top: 94px
        height: 100%

        @media (max-width: 900px)
            padding-top: 94px

        @media (max-width: 800px)
            padding-top: 107px
            flex-direction: column
            justify-content: center

        @media (max-width: 639px)
            padding-top: 72px

    &__col 
        position: relative
        display: flex
        flex-direction: column 
        justify-content: center
        box-sizing: border-box
        width: 50%
        min-width: 50%

        @media (max-width: 900px)
            width: 100%

    &__col-wrapper 
        align-self: flex-end
        width: 617px

        @media (max-width: 1399px)
            width: calc(100% - 40px)

        @media (max-width: 800px)
            box-sizing: border-box
            padding-bottom: 50px
            padding-left: 37px
            padding-right: 37px
            width: 100%

        @media (max-width: 639px)
            padding-left: 19px
            padding-right: 19px