.social 
    display: flex
    justify-content: flex-end
    align-items: center
    margin-left: auto
    width: 377px

    @media (max-width: 1023px)
        width: auto

    @media (max-width: 900px)
        display: none

    &._mobile 
        display: none

        @media (max-width: 1023px)
            display: flex 
            flex-direction: row
            justify-content: center
            box-sizing: border-box
            margin: 0
            margin-top: auto
            padding: 20px
            padding-bottom: 90px
            width: 100%
            background-color: #fff

            .social__label
                font-size: 26px
                line-height: 26px
                color: $textColor

                @media (max-width: 639px)
                    font-size: 14px
                    line-height: 14px

            .ya-share2__item
                margin-left: 26px
                width: 72px
                min-width: 72px
                height: 72px
                border-width: 2px

                @media (max-width: 639px)
                    margin-left: 20px
                    padding: 0
                    width: 36px
                    min-width: 36px
                    height: 36px
                    border-width: 1px

            .ya-share2__item_service_facebook

                &:before
                    width: 20px
                    height: 36px

                    @media (max-width: 639px)
                        width: 10px
                        height: 18px

            .ya-share2__item_service_odnoklassniki

                &:before
                    width: 22px
                    height: 36px

                    @media (max-width: 639px)
                        width: 11px
                        height: 18px

            .ya-share2__item_service_vkontakte

                &:before
                    width: 35px
                    height: 22px

                    @media (max-width: 639px)
                        width: 18px
                        height: 11px

    &__label
        margin: 0 7px 0 0
        font-weight: 300
        font-size: 16px
        line-height: 24px

    .ya-share2__list
        @include list-reset 
        display: flex

.ya-share2__item
    @include hover
    position: relative
    margin-left: 14px
    width: 36px
    min-width: 36px
    height: 36px
    font-size: 0
    border: 1px solid #8a8a8a
    border-radius: 50%
    cursor: pointer

    &:before 
        content: ""
        @include center 
        background-repeat: no-repeat 
        background-size: contain 
        background-position: center

.ya-share2__item_service_facebook

    &:before 
        width: 8px
        height: 18px
        background-image: url("../images/svg/fb.svg")


.ya-share2__item_service_odnoklassniki

    &:before 
        width: 10px
        height: 17px
        background-image: url("../images/svg/ok.svg")

.ya-share2__item_service_vkontakte

    &:before 
        width: 17px
        height: 10px
        background-image: url("../images/svg/vk.svg")
