.table-mobile
    position: absolute
    width: 100%
    max-height: 0
    opacity: 0
    overflow: hidden

    @media (max-width: 800px)
        position: relative
        max-height: 1000px
        opacity: 1

    &__col-left 
        position: absolute
        top: 100px
        left: 0
        width: 170px
        font-weight: 500
        font-size: 26px
        line-height: 32px
        color: #fff 
        background-color: $green
        z-index: 2

        @media (max-width: 639px)
            top: 65px
            width: 85px
            font-size: 14px
            line-height: 16px

    &__th 
        margin: 0
        padding-left: 26px
        padding-right: 20px
        padding-top: 20px
        padding-bottom: 18px
        white-space: nowrap
        text-overflow: ellipsis

        @media (max-width: 639px)
            padding-left: 13px
            padding-right: 10px
            padding-top: 10px
            padding-bottom: 9px

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets

        @media (max-width: 800px)   
            bottom: auto
            top: 26px
            text-align: center
            font-weight: 500
            font-size: 32px
            line-height: 50px
            color: $green

        @media (max-width: 639px)
            top: 14px
            font-size: 16px
            line-height: 24px

.table-mobile-prev,
.table-mobile-next 
    position: absolute
    @include btn-reset
    display: none

    @media (max-width: 800px)
        display: block
        top: 28px
        margin: 0
        width: 49px
        height: 49px
        background-repeat: no-repeat
        background-image: url("../images/svg/arrow.svg")
        background-size: contain
        z-index: 5

    @media (max-width: 639px)
        top: 14px
        width: 25px
        height: 25px

.table-mobile-prev
    left: 0
    transform: scale(-1,1)

.table-mobile-next
    right: 0

.winners-slider 
    padding-top: 100px
    width: 100%

    @media (max-width: 639px)
        padding-top: 65px

.winners-slide
    box-sizing: border-box

    &__td
        margin: 0
        padding-top: 20px
        padding-left: 196px
        padding-right: 20px
        padding-bottom: 18px
        font-weight: 300
        font-size: 26px
        line-height: 32px
        color: $textColor
        white-space: nowrap
        text-overflow: ellipsis
        background-color: #f2f2f2

        @media (max-width: 639px)
            padding-left: 95px
            padding-right: 10px
            padding-top: 10px
            padding-bottom: 9px
            font-size: 14px
            line-height: 16px

        &:nth-child(even)
            background-color: #e5e5e5
