.winners 

    &__wrapper 
        flex-direction: column
        justify-content: center
        width: 966px

        @media (max-width: 1023px)
            width: 100%

    &__row
        flex: none
        display: flex 
        justify-content: flex-end
        margin-top: 20px

        @media (max-width: 900px)
            flex-direction: column 
            align-items: center
            justify-content: flex-start

        @media (max-width: 800px)
            margin-top: 0

    &__title 
        flex-grow: 1
        margin: 0
        margin-left: 27.083%
        text-align: center
        font-weight: 500
        font-size: 30px
        line-height: 36px
        color: $green

        @media (max-width: 1023px)
            margin-left: 33%

        @media (max-width: 900px)
            margin-left: 0
            margin-bottom: 20px

        @media (max-width: 800px)
            margin-bottom: 30px
            font-size: 42px
            line-height: 50px

        @media (max-width: 639px)
            margin-bottom: 20px
            font-size: 22px
            line-height: 26px

    &-table 
        margin-bottom: 22px
        width: 100%

        @media (max-width: 900px)
            margin-bottom: 60px

        @media (max-width: 800px)
            display: none

        tr 

            &:nth-child(odd)
                background-color: #e5e5e5

            &:nth-child(even)
                background-color: #f2f2f2

        th
            box-sizing: border-box
            padding: 16px 0
            padding-left: 30px
            text-align: left
            font-weight: 500
            font-size: 18px
            line-height: 24px
            color: #fff
            background-color: $green

            &.date 
                width: 24.6875%

            &.name
                width: 28.5417%

            &.phone
                width: 28.2292%

            &.prize 
                width: 18.5416%

        td
            padding: 11px 0
            padding-left: 30px
            font-weight: 300
            font-size: 16px
            line-height: 24px

.search-form
    position: relative
    margin-bottom: 26px
    width: 27.083%

    @media (max-width: 1023px)
        width: 33.33%

    @media (max-width: 900px)
        width: 100%
        max-width: 300px

    @media (max-width: 800px)
        margin-bottom: 15px
        max-width: 568px

    input[type="search"]
        @include field-reset 
        display: block
        box-sizing: border-box
        padding: 0 44px 0 20px
        width: 100%
        height: 36px
        font-weight: 300
        font-size: 14px
        line-height: 36px
        background-color: #e5e5e5
        border-radius: 18px

        @media (max-width: 800px)
            padding: 15px 100px 15px 40px
            height: 64px
            font-size: 26px
            line-height: 34px
            border-radius: 32px

        @media (max-width: 639px)
            padding: 10px 50px 10px 20px
            height: 38px
            font-size: 14px
            line-height: 18px
            border-radius: 19px

    &__btn 
        @include btn-reset
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 36px
        font-size: 0

        @media (max-width: 800px)
            width: 100px
            height: 64px

        @media (max-width: 639px)
            width: 50px
            height: 38px

        &:after 
            content: ""
            @include center
            width: 16px
            height: 12px
            background-image: url("../images/link.png")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: center

            @media (max-width: 800px)
                width: 36px
                height: 24px

            @media (max-width: 639px)
                width: 20px
                height: 14px

.pagination

    &-list 
        @include list-reset 
        display: flex
        justify-content: center
        align-items: center

        li 
            @include hover
            display: flex 
            flex-direction: column 
            justify-content: center 
            align-items: center
            margin: 0 2px
            width: 30px
            min-width: 30px
            height: 30px
            font-weight: 300
            font-size: 16px
            line-height: 30px
            border-radius: 50%
            cursor: pointer

            &.dots 
                width: 18px
                min-width: 18px

                span 
                    border-bottom: 1px solid $transparent

            &.current 
                background-color: $green
                
                a
                    font-weight: 500
                    color: #fff

                span 
                    border-bottom: 1px solid $transparent


        a 
            color: $blue

            span
                border-bottom: 1px solid $blue

.active 

    .winners

        .winners-table 
            animation-delay: 0.5s

        .pagination
            animation-delay: 0.8s
