@import normalize
@import fonts.scss
@import grid
@import animation


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 1240px
    font-family: $font
    font-size: 16px
    line-height: 24px
    color: $textColor
    background-color: #fff

    @media (max-width: 1399px)
        min-width: 1024px

    @media (max-width: 1023px)
        min-width: 768px

    @media (max-width: 800px)
        min-width: 640px

    @media (max-width: 800px) and (orientation: landscape)

        &:after 
            content: ""
            position: fixed
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 10000
            background-color: #fff 
            background-image: url("../images/rotate.png")
            background-repeat: no-repeat 
            background-size: 50% auto
            background-position: center

    @media (max-width: 639px)
        min-width: 320px

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow 
        height: 100vh
        overflow: hidden

.global-wrapper
    position: relative
    margin: 0 auto

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 3px
    width: 1240px

    @media (max-width: 1399px)
        padding: 0 20px
        width: 100%

    @media (max-width: 800px)
        padding: 0 37px

    @media (max-width: 639px)
        padding: 0 19px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

.scrollable 

    .mCSB_scrollTools
        width: 4px
        margin-right: 10px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 4px
        background-color: rgba(0, 0, 0, 0.2)
        border-radius: 2px

    .mCSB_scrollTools .mCSB_draggerRail
        background-color: $transparent
