
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamLight.eot');
  src: url('../fonts/GothamLight.eot') format('embedded-opentype'),
         url('../fonts/GothamLight.woff2') format('woff2'),
         url('../fonts/GothamLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamMedium.woff2') format('woff2'),
         url('../fonts/GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

