// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1900px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 768px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #414141;
$green: #006747;
$blue: #017fdb;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'Gotham', Arial, sans-serif;
