<div class="table-mobile">
    <button type="button" class="table-mobile-prev"></button>
    <button type="button" class="table-mobile-next"></button>
    <div class="table-mobile__col-left">
        <p class="table-mobile__th">Дата</p>
        <p class="table-mobile__th">ФИО</p>
        <p class="table-mobile__th">Телефон</p>
        <p class="table-mobile__th">Приз</p>
    </div>
    <div class="table-mobile__col-right">
        <div class="winners-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
                <div class="swiper-slide winners-slide">
                    <p class="winners-slide__td">15.04.2018</p>
                    <p class="winners-slide__td">Константинопольский К.</p>
                    <p class="winners-slide__td">+7 9ХХ-ХХХ-49-16</p>
                    <p class="winners-slide__td">30 000 рублей</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>