<footer class="page-footer" id="footer">
    <div class="page-footer__wrapper layout-positioner">
        <p class="page-footer__copyright">© 2018 «МИР»</p>
        <a href="#" class="page-footer__link page-footer__link--first">Часто задаваемые вопросы</a>
        <a href="#" class="page-footer__link _desktop">Полные правила акции</a>
        <div class="social">
            <p class="social__label">Поделиться</p>
            <div class="social__links">
                <a href="#" class="social-btn social-btn--fb" onclick="Share.facebook('http://tests.e-produce.ru/mir-uralsib'); return false;">
                    <svg width="8" height="18">
                        <use xlink:href="#icon-fb" />
                    </svg>
                </a>
                <a href="#" class="social-btn social-btn--vk" onclick="Share.vkontakte('http://tests.e-produce.ru/mir-uralsib'); return false;">
                    <svg width="17" height="10">
                        <use xlink:href="#icon-vk" />
                    </svg>
                </a>
                <a href="#" class="social-btn social-btn--ok" onclick="Share.odnoklassniki('http://tests.e-produce.ru/mir-uralsib'); return false;">
                    <svg width="10" height="17">
                        <use xlink:href="#icon-ok" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>