<header class="page-header" id="header">
    <div class="page-header__wrapper layout-positioner">
        <a data-menuanchor="top" href="#top" class="logo">
            <img src="assets/images/logo-uralsib.png" width="254" height="59" alt="">
        </a>
        <a href="#" class="logo-mir">
            <img src="assets/images/logo-mir.png" width="107" height="31" alt="">
        </a>
        <button type="button" class="menu-trigger js-menu-trigger"><span>Меню</span></button>
        <nav class="main-navigation">
            <div class="menu-wrapper js-menu">
                <ul id="#menu" class="menu-scrollable">
                    <li class="menuanchor" data-menuanchor="mechanics"><a href="#mechanics">Механика акции</a></li>
                    <li class="menuanchor" data-menuanchor="gifts"><a href="#gifts">Призы</a></li>
                    <li class="menuanchor" data-menuanchor="winners"><a href="#winners">Победители</a></li>
                    <li><a href="#">Все акции &laquo;МИР&raquo;</a></li>
                    <li><a href="#">Правила</a></li>
                </ul>
                <div class="social _mobile">
                    <p class="social__label">Поделиться</p>
                    <div class="social__links">
                        <a href="#" class="social-btn social-btn--fb">
                            <svg width="8" height="18">
                                <use xlink:href="#icon-fb" />
                            </svg>
                        </a>
                        <a href="#" class="social-btn social-btn--ok">
                            <svg width="10" height="17">
                                <use xlink:href="#icon-ok" />
                            </svg>
                        </a>
                        <a href="#" class="social-btn social-btn--vk">
                            <svg width="17" height="10">
                                <use xlink:href="#icon-vk" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>