.page-footer 
    margin-top: auto
    padding-bottom: 30px
    color: $textColor

    @media (max-width: 800px)
        padding-bottom: 25px

    @media (max-width: 639px)
        padding-bottom: 20px

    &__wrapper 
        display: flex
        align-items: center

        @media (max-width: 800px)
            flex-direction: column
            align-items: center

    &__copyright
        margin: 0 48px 0 0
        font-weight: 300
        font-size: 16px
        line-height: 24px

        @media (max-width: 1023px)
            margin-right: 24px

        @media (max-width: 800px)
            order: 2
            margin: 0   
            font-size: 26px
            line-height: 24px

        @media (max-width: 639px)
            font-size: 14px
            line-height: 12px

    &__link 
        @include hover
        font-weight: 300
        font-size: 16px
        line-height: 24px
        color: $blue 
        border-bottom: 1px solid $blue

        @media (max-width: 800px)
            order: 1
            margin: 0
            margin-bottom: 20px
            font-size: 26px
            line-height: 24px

        @media (max-width: 639px)
            font-size: 14px
            line-height: 12px
            margin-bottom: 10px

        &._desktop 

            @media (max-width: 800px)
                display: none

        &--first 
            margin-right: auto

            @media (max-width: 800px)
                margin-right: 0