.page-header
    position: fixed
    top: 0
    left: 0
    right: 0
    box-sizing: border-box
    padding: 17px 0
    min-height: 94px
    color: $blue
    background-color: #fff
    border-bottom: 1px solid #e9e9e9
    z-index: 100

    @media (max-width: 800px)
        padding-bottom: 24px

    @media (max-width: 639px)
        padding-bottom: 22px
        min-height: 72px

    &__wrapper 
        @include row-component

        @media (max-width: 1023px)
            align-items: flex-start

    &.opened
        padding-bottom: 0
        height: 100%

        @media (max-width: 1023px)

            .page-header__wrapper, .main-navigation
                height: 100%

            .page-header__wrapper
                align-items: flex-start

            .main-navigation
                position: absolute
                top: 76px
                margin: 0
                left: 0
                right: 0
                width: 100%
                height: calc(100vh - 76px)

                @media (max-width: 639px)
                    top: 60px
                    height: calc(100vh - 60px)

                ul 
                    width: 100%

            .ya-share2__list
                flex-direction: row
                margin-left: 0


.logo 
    width: 265px

    @media (max-width: 1399px)
        width: 20.6452%

    @media (max-width: 800px)
        order: 2
        width: 49.6%
        max-width: 280px

    @media (max-width: 639px)
        width: 140px
        height: 33px

    img 
        display: block
        width: 100%
        height: auto

.logo-mir
    margin-left: 65px
    width: 107px

    @media (max-width: 1399px)
        margin-left: 5.2419%
        width: 8.629%

    @media (max-width: 1023px)
        margin-top: 18px

    @media (max-width: 800px)
        margin-right: 9%
        margin-left: 0
        order: 1
        width: 23%
        max-width: 132px

    @media (max-width: 639px)
        margin-top: 11px
        width: 65px
        height: 19px

    img 
        display: block
        width: 100%
        height: auto